<launch>
    <node pkg="dji_sdk" type="dji_sdk_node" name="dji_sdk" output="screen">
    <!-- node parameters -->
    <param name="serial_name" type="string" value="/dev/ttyUSB0"/>
    <param name="baud_rate" type="int" value="115200"/>
    <param name="app_id" type="int" value="1084873"/>
    <param name="app_version" type="int" value="1"/>
    <param name="align_time" type="bool" value="false"/>
    <param name="enc_key" type="string" value="57a00cc4aa09914d73eafd14e3f32fa82ef4d663467ede7cd5a2eaa6940f4ad9"/>
    <param name="use_broadcast" type="bool" value="false"/>
    </node>
</launch>
