<launch>
  <node name="vel_x_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/teamc/position_track_x/setpoint_filtered  /teamc/position_track_x/state"/>
  <node name="vel_yaw_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/teamc/position_track_yaw/setpoint_filtered  /teamc/position_track_yaw/state"/>

<!--
  <node name="vel_y_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/teamc/position_track_y/setpoint_filtered  /teamc/position_track_y/state"/>


  <node name="vel_x_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/teamc/position_track_x/control_effort /teamc/position_track_x/setpoint_filtered  /teamc/position_track_x/state"/>

  <node name="vel_y_plot"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/teamc/position_track_y/control_effort /teamc/position_track_y/setpoint_filtered /teamc/position_track_y/state /teamc/position_track_x/control_effort /teamc/position_track_x/setpoint  /teamc/position_track_x/state"/>-->

</launch>
